<div class="login-container">
  <div class="login-card">
    <!-- Logo and Brand -->
    <div class="brand-section">
      <div class="logo">
        <img src="images/logo.png" alt="notes logo" />
        <span class="brand-text">Notily</span>
      </div>
    </div>

    <!-- Welcome Text -->
    <div class="welcome-section">
      <h1 class="welcome-title">Reset Your Password</h1>
      <p class="welcome-subtitle">
        Choose a new password to secure your account.
      </p>
    </div>

    <!-- Reset Form -->
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="login-form"
    >
      <!-- New Password Field -->
      <app-password-input
        labelFor="new-passord"
        label="New Password"
        type="password"
        [showForgotLink]="false"
        [control]="newPasswordControl"
      ></app-password-input>

      <!-- Confirm Password Field -->
      <app-password-input
        labelFor="confirm-password"
        label="Confirm Password"
        type="password"
        [showForgotLink]="false"
        [control]="confirmPasswordControl"
      ></app-password-input>

      <!-- error message -->
      <div class="password-error" *ngIf="passwordMismatch">
        Passwords do not match
      </div>
      <button
        type="submit"
        class="btn btn-primary login-btn"
        [disabled]="resetPasswordForm.invalid || isLoading()"
        [class.loading]="isLoading()"
      >
        <span *ngIf="!isLoading()">Reset Password</span>
        <app-loader
          class="loading-spinner"
          *ngIf="isLoading()"
          message="Resetting ..."
        ></app-loader>
      </button>
    </form>
  </div>
</div>
