<div class="notes-container">
  <h1 class="page-title">All Notes</h1>
  <div class="notes-sidebar-left">
    <button class="btn create-note-btn" (click)="addNote()">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
      Create New Note
    </button>

    <div *ngIf="notes().length === 0" class="empty-state">
      <p class="empty-message">
        You don't have any notes yet. Start a new note to capture your thoughts
        and ideas.
      </p>
    </div>

    <!-- render notes-->
    <div
      class="note-card"
      [ngClass]="{ active: note.id === activeNote?.id }"
      (click)="onCardClick(note)"
      *ngFor="let note of notes()"
    >
      <div class="note-card-content">
        <h3 class="note-title">{{ note.title }}</h3>

        <div class="note-tags" *ngIf="note.tags.length > 0">
          <span class="note-tag" *ngFor="let tag of note.tags; let i = index">
            {{ tag }}
          </span>
        </div>

        <div class="note-date">
          <i class="date-icon lucide lucide-calendar"></i>
          <span class="date-text">{{
            note.created_at | date : "MMM d, y"
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="notes().length === 0" class="empty-state">
      <p class="empty-message">
        You don't have any notes yet. Start a new note to capture your thoughts
        and ideas.
      </p>
    </div>

    <div>
      <h1>{{ activeNote?.title }}</h1>
      <p>
        {{ activeNote?.content }}
      </p>
    </div>
  </div>
  <div class="notes-sidebar-right">
    <button
      class="delete-button"
      [disabled]="!activeNote?.id"
      (click)="deleteNote($event, activeNote!.id)"
    >
      Delete
    </button>
  </div>
</div>

<!-- <button (click)="toggleArchived()">toggle note</button>

<input
  type="text"
  placeholder="Search notes..."
  [value]="searchQuery()"
  (input)="onSearchInput($event)"
  class="search-box"
/>

<ul>
  <li *ngFor="let note of notes()">
    <h3>{{ note.title }}</h3>
    <p>{{ note.content }}</p>
    <small *ngIf="note.tags?.length">Tags: {{ note.tags.join(", ") }}</small>
  </li>
</ul> -->

<!-- <button (click)="handleLogout()">Logout</button> -->
