<div class="login-container">
  <div class="login-card">
    <!-- Logo and Brand -->
    <div class="brand-section">
      <div class="logo">
        <img src="images/logo.png" alt="notes logo" />
        <span class="brand-text">Notily</span>
      </div>
    </div>

    <!-- Welcome Text -->
    <div class="welcome-section">
      <h1 class="welcome-title">Forgot your password?</h1>
      <p class="welcome-subtitle">
        Enter your email below, and we’ll send you a link to reset it.
      </p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <!-- Email Field -->
      <app-input
        labelFor="email"
        label="Email Address"
        type="text"
        placeholder="example@gmail.com"
        [control]="emailControl"
        autocomplete="email"
        [customErrorMessages]="{
          required: 'Email is required',
          email: 'Email address is not valid'
        }"
      ></app-input>

      <!-- Login Button -->
      <button
        type="submit"
        class="btn btn-primary login-btn"
        [disabled]="forgotPasswordForm.invalid || isLoading()"
        [class.loading]="isLoading()"
      >
        <span *ngIf="!isLoading()">Send Reset Link</span>
        <app-loader
          class="loading-spinner"
          *ngIf="isLoading()"
          message="Sending ..."
        ></app-loader>
      </button>
      @if (errorMessage()) {
      <p class="error-message form-error">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 8.5C2 11.8133 4.68605 14.5 8 14.5C11.3139 14.5 14 11.8133 14 8.5C14 5.18605 11.3139 2.5 8 2.5C4.68605 2.5 2 5.18605 2 8.5Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.0038 10.9621V8.09573V10.9621ZM8 6.0695V6.02734V6.0695Z"
            fill="currentColor"
          />
          <path
            d="M8.0038 10.9621V8.09573M8 6.0695V6.02734"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        {{ errorMessage() }}
      </p>
      }
    </form>
  </div>
</div>
